<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- https://swapi.co/documentation#base -->
    <add key="urlSWBase" value="https://swapi.co/api/" />
    <add key="urlSWFilms" value="https://swapi.co/api/films/" />
    <add key="urlSWPeople" value="https://swapi.co/api/people/" />
    <add key="urlSWPlanets" value="https://swapi.co/api/planets/" />
    <add key="urlSWSpecies" value="https://swapi.co/api/species/" />
    <add key="urlSWStarships" value="https://swapi.co/api/starships/" />
    <add key="urlSWVehicles" value="https://swapi.co/api/vehicles/" />
  </appSettings>
</configuration>